.project {
  --title-gap: 2.5vh;
  --header-gap: 3vh;
  --p-gap: 3vh;

  position: relative;

  padding-block: var(--p-gap);

  color: var(--clr-neutral-300);

  opacity: 0;
  transform: translateX(-30%);

  transition: opacity 1.25s ease-out, transform 0.5s ease-out;

  &.animate-in {
    opacity: 1;
    transform: translateX(0);
  }

  &__header {
    z-index: 1;

    display: flex;
    justify-content: space-between;

    padding-block: 1rem;

    border-bottom: 1px dashed var(--clr-neutral-800);

    @media (max-width: 850px) {
      display: block;
      border: 0;
    }
  }

  &__title {
    --line-size: 24px;
    --line-thickness: 6px;
    --line-gap: 1rem;

    position: relative;
    z-index: 2;

    font-weight: var(--fw-xbold);
    text-transform: uppercase;

    color: var(--clr-neutral-100);

    &::after {
      content: '';
      position: absolute;
      left: calc((var(--line-gap) * -1) - var(--line-thickness));
      height: 100%;
      width: var(--line-thickness);
      background: var(--clr-accent-100);

      @media (max-width: 850px) {
        display: none;
        left: 50%;
        top: -100%;
        width: calc(var(--line-thickness) / 2);
        transform: rotate(90deg);
      }
    }

    &::before {
      content: attr(data-project-number);
      position: absolute;
      z-index: -1;
      color: var(--clr-neutral-800);
      top: 0;
      right: calc(100% + (var(--line-thickness) / 2 + var(--line-gap)));
      transform: rotate(-90deg);

      @media (max-width: 850px) {
        left: 50%;
        top: -100%;
        width: max-content;
        transform: rotate(0) translateX(-50%);
      }
    }
  }

  &__links {
    font-size: clamp(0.9rem, 2vw, 1rem);

    &-divider {
      display: inline;
    }
  }

  &__dev-icons {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    transition: opacity var(--transition-short) ease-in-out;

    > * {
      width: 32px;
    }

    @media (max-width: 850px) {
      > * {
        width: 24px;
        margin-top: var(--p-gap);
      }

      // tooltips extend beyond viewport on small screens
      // move the anchor point to the parent __div-icons
      position: relative;
      justify-content: center;

      // increase gap
      [data-tooltip] {
        --tooltip-gap: 3rem;
      }
    }
  }

  &__content {
    // grid is used to change order of carousel/text
    display: grid;
    grid-template-columns: 1fr;
    margin-block: var(--title-gap);

    @media (min-width: 850px) {
      gap: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    &-header {
      margin-bottom: var(--header-gap);
      font-family: var(--ff-accent);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: var(--fw-thin);
      color: var(--clr-neutral-500);
    }

    &-p {
      margin-bottom: var(--p-gap);
      line-height: 1.5;
      color: var(--clr-neutral-300);
    }

    @media (max-width: 850px) {
      margin-top: calc(1.5 * var(--title-gap));
    }
  }

  &__screenshots {
    @media (max-width: 850px) {
      order: -1;
    }
  }

  @media (max-width: 850px) {
    &__title,
    &__links,
    &__text-header {
      text-align: center;
    }
  }
}
