.hero {
  --spacer: 1.5vh;
  --timer: 1s;

  position: relative;

  color: var(--clr-neutral-200);

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  &__text {
    transform: translateY(-10vh);

    animation: fadeInFromLeft var(--timer) cubic-bezier(0, 1.32, 1, 1) 1 normal forwards;

    // Hey there :)
    h4 {
      font-family: var(--ff-main);
      font-weight: var(--fw-thin);
      font-size: clamp(0.9rem, 2vw, 1.5rem);
      color: var(--clr-neutral-400);
      letter-spacing: 2px;

      transform: rotate(-4deg) translateX(-5vw);

      @media (width < 400px) {
        transform: rotate(-4deg) translateX(0);
      }

      margin-bottom: calc(var(--spacer) * 5);
    }

    // Bryan Miller
    h2 {
      margin-bottom: calc(var(--spacer) * 0.5);

      font-weight: var(--fw-xbold);
      font-size: clamp(2.5rem, 8vw, 6rem);

      color: var(--clr-neutral-200);
    }

    // A Frontend
    h3 {
      margin-bottom: calc(var(--spacer) * 5);

      font-weight: var(--fw-bold);
      font-size: clamp(1.25rem, 4vw, 3rem);
      color: var(--clr-neutral-500);

      // Web Developer
      span {
        position: relative;

        // Underline
        &:before {
          content: '';
          position: absolute;

          bottom: max(calc(-4px - 1.2vw), -16px);
          right: 12.5%;

          height: min(1.5vw, 12px);
          width: 75%;

          background-color: var(--clr-primary-100);

          transform: rotate(-2deg) skew(-5deg);
          animation: pulseScale 1s infinite ease-in-out;
        }
      }
    }
  }

  &__cta {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    a {
      font-family: var(--ff-accent);
      font-size: 1.5rem;
    }

    svg {
      aspect-ratio: 1/1;
      width: min(7vw, 2.5rem);
      color: var(--clr-primary-100);

      transition: transform var(--transition-short) ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.custom-shape-divider-bottom-1680894835 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  // translateY: fix gap that appears on random viewport sizes
  transform: translateY(1px);
}

.custom-shape-divider-bottom-1680894835 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: var(--section-separator-height);
}

.custom-shape-divider-bottom-1680894835 .shape-fill {
  fill: var(--clr-about-bg-top);
}
