.portfolio {
  position: relative;

  display: grid;
  place-items: center;

  padding-top: var(--section-vertical-padding);
  padding-bottom: calc(var(--section-vertical-padding) * 2);

  background: var(--clr-portfolio-bg);
  color: var(--clr-neutral-200);

  &__note {
    color: var(--clr-neutral-500);
    justify-self: start;
    margin-bottom: 2rem;
  }
}

.custom-shape-divider-bottom-1680894927 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1680894927 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  // fixed: static height looked too wavy on mobile
  height: min(10vw, 75px);
}

.custom-shape-divider-bottom-1680894927 .shape-fill {
  fill: var(--clr-about-bg-top);
}
