.about {
  --about-gap: 0rem;
  --content-bg-color: var(--clr-neutral-900-t);
  --content-text-color: var(--clr-neutral-100);
  --content-border-radius: var(--border-radius-100);
  --content-vertical-padding: max(5vh, 2rem);

  color: var(--clr-neutral-900);
  background: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));

  padding-top: var(--section-vertical-padding);
  padding-bottom: calc(var(--section-vertical-padding) * 1.5);

  &__content {
    display: grid;
    gap: var(--about-gap);
    grid-template-columns: 1fr 1fr;

    background: var(--content-bg-color);

    border-radius: var(--content-border-radius);

    padding-block: var(--content-vertical-padding);

    @media (width >1000px) {
      grid-template-columns: 1fr max-content 1fr;
      gap: 0;
    }
  }

  &__text {
    display: grid;
    gap: 2rem;
    place-items: center;

    padding-block: var(--content-vertical-padding);

    color: var(--content-text-color);

    @media (width < 1000px) {
      grid-column: 1/3;

      padding-inline: 5vw;
      padding-block: 5vh;
      order: -1;
    }

    &-wrapper {
      display: grid;
      gap: 2rem;
    }

    h2 {
      position: relative;

      text-transform: uppercase;
      font-size: 2rem;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 5.35ch;
        width: 2ch;
        height: 0.35ch;
        background: var(--clr-accent-100);
        animation: pulseScale infinite 1s ease-in-out;
      }
    }

    p {
      line-height: 1.5;
      max-width: 60ch;
    }

    a {
      color: var(--clr-primary-100);
      font-weight: var(--fw-bold);
    }
  }

  &__skills {
    display: grid;
    place-items: center;
    gap: var(--about-gap);

    padding-block: var(--content-vertical-padding);

    @media (width < 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      padding-block: 0rem;

      &.left {
        justify-self: end;
        width: min(100%, 30ch);
      }
      &.right {
        justify-self: start;
        width: min(100%, 30ch);
      }
    }
  }

  &__skill {
    display: grid;
    place-items: center;
    text-align: center;

    padding: 0.75rem;

    color: var(--content-text-color);

    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: translateX(-10px);
    }

    @media (width > 1000px) {
      width: 100%;
    }

    svg {
      width: min(36px, 25vw);
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: var(--fw-bold);
    }
  }
}
