.about {
  color: var(--clr-neutral-900);

  background-color: var(--clr-about-bg);

  &__content {
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;

    p {
      line-height: 1.5;
      max-width: 60ch;
    }

    a {
      color: var(--clr-primary-100);
      font-weight: var(--fw-bold);
    }
  }
}
