.contact {
  --section-separator-height: min(75px, 10vw);

  // background: url('../../assets/blob-haikei.svg') no-repeat;
  // background-size: cover;

  position: relative;
  padding-block: calc(var(--section-separator-height) + var(--section-vertical-padding))
    var(--section-vertical-padding);

  &__content {
    width: 100%;
    display: grid;
    place-items: center;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }

  p,
  h2 {
    text-align: center;
    margin-bottom: calc(var(--section-vertical-padding) / 16);
  }

  form {
    margin-top: 2rem;

    display: grid;
    gap: 1rem;

    width: min(100%, 600px);
    padding: min(1.5rem, 10vw);

    background: var(--clr-neutral-300);

    border: 2px solid var(--clr-neutral-400);
    border-radius: var(--border-radius-200);

    box-shadow: var(--box-shadow-100);

    .input-wrapper {
      > * {
        display: block;
      }
    }

    button {
      text-transform: uppercase;
    }

    label {
      margin-bottom: 4px;

      transform: translateX(0.25rem);

      font-family: var(--ff-main);
      font-weight: bold;
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 1px;

      color: var(--clr-neutral-600);
    }

    input,
    textarea {
      --border-invalid: 2px solid var(--clr-error);
      --border-valid: 2px solid var(--clr-success);
      --border-focus: 2px solid var(--clr-primary-100);

      width: 100%;

      padding: 0.5rem 0.75rem;

      border: 2px solid var(--clr-neutral-400);
      border-radius: var(--border-radius-100);

      background: var(--clr-neutral-200);

      &::placeholder {
        color: var(--clr-neutral-450);
      }

      &:focus {
        outline: none;
        border: var(--border-focus);

        + .validation-message {
          color: var(--clr-neutral-500);
        }
      }

      &.invalid:not(:placeholder-shown):not(:focus) {
        border: var(--border-invalid);
      }

      &.valid:not(:placeholder-shown) {
        border: var(--border-valid);
      }
    }

    textarea {
      min-height: 10rem;
      resize: none;
      width: 100%;
    }

    .validation-message {
      margin: 0;

      text-align-last: left;
      display: block;
      margin-top: 0.2rem;
      color: var(--clr-error);
      font-size: 0.9rem;
      transform: translateX(0.25rem);
      font-style: italic;

      opacity: 1;

      &.invisible {
        opacity: 0;
      }
    }
  }

  svg.send-status {
    width: min(300px, 80vw);
    padding-block: 2rem;
  }

  button {
    padding: 1rem 1.5rem;
    margin: auto;

    border: 0;
    border-radius: var(--border-radius-100);

    background: var(--clr-primary-100);
    color: white;

    text-transform: uppercase;
    font-weight: var(--fw-bold);

    transition: transform var(--transition-short) ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.05);
      outline: 0;
    }
  }
}

.hidden {
  display: none;
}

.custom-shape-divider-top-1680975773 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1680975773 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: var(--section-separator-height);
}

.custom-shape-divider-top-1680975773 .shape-fill {
  fill: var(--clr-about-bg);
}
