header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;

  padding-block: 2rem;

  animation: fadeInOpacity 1s linear;

  nav {
    --padding: 1rem;
    --link-color: var(--clr-header);

    ul {
      display: flex;
      justify-content: end;
      gap: 2vw;

      font-size: 0.9rem;
      font-weight: var(--fw-normal);
      text-transform: uppercase;
      letter-spacing: 2px;

      color: var(--link-color);
    }

    li {
      position: relative;
      padding-block: var(--padding);
    }

    a {
      transition: transform 0.2s ease;
      padding-block: var(--padding);

      &::after {
        content: '';
        position: absolute;
        height: 5px;
        background-color: var(--clr-primary-100);
        width: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.35s cubic-bezier(0.35, 0.13, 0.45, 1.69) all;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  svg {
    max-width: 50px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }
  }
}
