@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;900&family=Oxygen:wght@300;400;700&display=swap');

:root {
  // text
  --ff-accent: 'Inter Tight', sans-serif;
  --ff-main: 'Oxygen', sans-serif;
  --fw-xbold: 900;
  --fw-bold: 700;
  --fw-normal: 400;
  --fw-thin: 300;

  // color
  --clr-neutral-900-t: hsla(0, 0%, 5%, 0.15);
  --clr-neutral-900: hsla(0, 0%, 5%, 1);
  --clr-neutral-800: hsla(0, 0%, 20%, 1);
  --clr-neutral-700: hsla(0, 0%, 30%, 1);
  --clr-neutral-600: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 80%, 1);
  --clr-neutral-300: hsla(0, 0%, 88%, 1);
  --clr-neutral-200: hsla(0, 0%, 93%, 1);
  --clr-neutral-100: hsla(0, 0%, 97%, 1);
  --clr-neutral-100-t: hsla(0, 0%, 97%, 0.5);
  --clr-primary-100: hsl(212, 65%, 56%, 1);
  --clr-primary-200: hsl(212, 65%, 66%, 1);
  --clr-accent-100: hsl(56, 91%, 47%);

  --clr-portfolio-bg: var(--clr-neutral-900);

  --box-shadow-100: 0px 3px 8px var(--clr-neutral-100-t);
  --box-shadow-900: 0px 18px 18px var(--clr-neutral-900);
  --box-shadow-900-inner: inset 0px 0px 69px 11px var(--clr-neutral-100);

  --a11y-outline: 2px solid var(--clr-primary-100);

  --border-radius-100: 4px;
  --border-radius-200: 8px;
  --border-radius-300: 12px;
  --border-radius-400: 16px;

  --transition-short: 0.25s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  // avoid text overflows
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: var(--fw-xbold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-main);
  background: var(--clr-neutral-200);
  color: var(--clr-neutral-900);

  // allow percentage-based heights
  height: 100%;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius-200);
}

input,
button,
textarea,
select {
  // remove built-in form typography styles
  font: inherit;
}

#root,
#__next {
  // create a root stacking context
  isolation: isolate;
}

ol,
ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--clr-primary-100);
  }

  &:focus {
    outline: var(--a11y-outline);
  }
}
