@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700;900&display=swap');

:root {
  // text
  --ff-accent: 'Inter Tight', sans-serif;
  --ff-main: var(--ff-accent);
  --fw-xbold: 900;
  --fw-bold: 700;
  --fw-normal: 400;
  --fw-thin: 300;

  // color
  --clr-neutral-900: #0a0a0a;
  --clr-neutral-800: #292929;
  --clr-neutral-700: #575757cc;
  // --clr-neutral-600: #;
  // --clr-neutral-500: #;
  // --clr-neutral-400: #;
  --clr-neutral-300: #cccccc;
  --clr-neutral-200: #eeeeee;
  --clr-neutral-100: #f8f8f8;

  --clr-primary-100: #468ad8;
  --clr-primary-200: #29486b;
  --clr-accent-100: #7ec50b;

  --border-radius-100: 4px;
  --border-radius-200: 8px;
  --border-radius-300: 12px;
  --border-radius-400: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  // avoid text overflows
  overflow-wrap: break-word;
}

h1 {
  font-weight: var(--fw-xbold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-accent);
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);

  // allow percentage-based heights
  height: 100%;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  // remove built-in form typography styles
  font: inherit;
}

#root,
#__next {
  // create a root stacking context
  isolation: isolate;
}

ol,
ul {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
